*
!LICENSE
!README.md
!.gitignore

!avatar.jpg

!clight.conf
!code-flags.conf
!electron-flags.conf
!qq-flags.conf

!starship.toml

!btop/
!btop/**

!clight.d/
!clight.d/*.example

!clipse/
!clipse/config.json
!clipse/custom_theme.json

!containers/
!containers/**

!direnv/
!direnv/**

!fish/
!fish/**
fish/fish_variables
fish/conf.d/custom.fish

!git/
!git/config

!hypr/
!hypr/**
hypr/dms
hypr/land/monitors.conf

!hyprpanel/
!hyprpanel/config.json

!gnupg/
!gnupg/**

!kitty/
!kitty/**
kitty/dank-tabs.conf
kitty/dank-theme.conf

!mako/
!mako/**

!matugen
!matugen/**

!niri
!niri/**
niri/dms
niri/conf.d/outputs.kdl

!nvim/
!nvim/**
nvim/lazy-lock.json
nvim/lazyvim.json

!pacman/
!pacman/**

!pip/
!pip/**

!rofi/
!rofi/**

!sherlock/
!sherlock/**

!systemd/
!systemd/user/
!systemd/user/*.service

!tealdeer
!tealdeer/**

!tmux/
!tmux/**

!uv
!uv/**

!vicinae
!vicinae/**

!waybar/
!waybar/**

!wezterm/
!wezterm/**
wezterm/colors/dank-theme.toml

!wlogout/
!wlogout/**

!xdg-desktop-portal/
!xdg-desktop-portal/**

!yazi/
!yazi/**

**/*dank*
**/*dms*
