*
!LICENSE
!README.md
!.gitignore

!starship.toml

!fish/
!fish/**

!hypr/
!hypr/**

!gnupg/
!gnupg/**

!mako/
!mako/**

!mpv/
!mpv/**

!nvim/
!nvim/**

!pip/
!pip/**

!waybar/
!waybar/**

!wezterm/
!wezterm/**

!wlogout/
!wlogout/**
