*
!LICENSE
!README.md
!.gitignore

!avatar.jpg

!code-flags.conf
!electron-flags.conf
!qq-flags.conf

!starship.toml

!btop/
!btop/**

!clipse/
!clipse/config.json
!clipse/custom_theme.json

!fish/
!fish/**

!git/
!git/config

!hypr/
!hypr/**
hypr/land/monitors.conf

!hyprpanel/
!hyprpanel/config.json

!gnupg/
!gnupg/**

!kitty/
!kitty/**

!mako/
!mako/**

!matugen
!matugen/**

!niri
!niri/**
niri/dms
niri/conf.d/outputs.kdl

!nvim/
!nvim/**
nvim/lazy-lock.json
nvim/lazyvim.json

!pacman/
!pacman/**

!pip/
!pip/**

!rofi/
!rofi/**

!sherlock/
!sherlock/**

!tealdeer
!tealdeer/**

!tmux/
!tmux/**

!vicinae
!vicinae/**

!waybar/
!waybar/**

!wezterm/
!wezterm/**

!wlogout/
!wlogout/**

!xdg-desktop-portal/
!xdg-desktop-portal/**
