include "conf.d/autostart.kdl"
include "conf.d/env.kdl"
include "conf.d/input.kdl"
include "conf.d/keymaps.kdl"
include "conf.d/layout.kdl"
include "conf.d/misc.kdl"
include "conf.d/outputs.kdl"
include "conf.d/window-rules.kdl"
include "conf.d/workspaces.kdl"